body{
    margin-left: 10%;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightcyan;
}
h2{
    border: unset;
    background-color: lightblue;
    width: 17%;
    border-radius: 6%;
    
}
h1{
    border: solid;
    width: 30%;
    background-color: lightblue;
    border-radius: 5%;
    border-color: cadetblue;
}
h3{
    
    width: 37%;
    border-radius: 6%;
    font-size: 30px;
}
#name{
    background-color: gainsboro;
    font-size: 35px;
    text-align: center;
}
#logo{
    border: solid;
    border-radius: 10%;
    background-color: lightseagreen;
    margin-left: 27%;
    width: 50%;
    color: white;
    text-shadow: 0px 0px 44px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}
#submit{
    font-size: 25px;
    border: double;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightseagreen;
}
#submit:hover{
    font-size: 26px;
    border: unset;
    background-color: lightgreen;
}
#questions{
    border: solid;
    width: 80%;
    height: 100px;
    background-color: whitesmoke;
    font-style: italic;
}
#results{
    border: solid;
    height: 90px;
    width: 35%;
    background-color: lightgrey;
    font-family: monospace;
}